@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Jogador e Equipes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="navbar-brand" asp-area="" asp-controller="Equipe" asp-action="Index">Cadastro de Equipe | </a>
    <a class="navbar-brand" asp-area="" asp-controller="Jogador" asp-action="Index">Cadastro de Jogador |<br></a>
    <a class="navbar-brand" asp-area="" asp-controller="Notícias" asp-action="Index">Notícias | </a>
</div>
